mixin main()
  section.main
    .container.main__container
      .main__wrapper
        h2 Зарабатывайте <br/> больше <br/>
          span с WELBEX
        p Развиваем и контролируем <br/> продажи за вас
      .main__wrapper.main__wrapper--right
        p Вместе с
          span бесплатной <br/> консультацией
          |  мы дарим:
        ul.main__list.main__list--desktop
          li.main__item
            h3 Виджеты
            p 30 готовых <br/> решений
          li.main__item
            h3 Dashboard
            p с показателями <br/> вашего бизнеса
          li.main__item
            h3 Skype Аудит
            p отдела продаж <br/> и CRM системы
          li.main__item
            h3 35 дней
            p использования <br/> CRM
        ul.main__list.main__list--mobile
          li.main__item
            h3 Skype аудит
          li.main__item
            h3 30 виджетов
          li.main__item
            h3 Dashboard
          li.main__item
            h3 Месяц аmoCRM
        button.main__button(type="butoon") Получить консультацию
